<%= form_for(singer) do |f| %>
  <% if singer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(singer.errors.count, "error") %> prohibited this singer from being saved:</h2>

      <ul>
      <% singer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :voice %>
    <%= f.text_field :voice %>
  </div>

  <div class="field">
    <%= f.label :joinYear %>
    <%= f.number_field :join_year %>
  </div>

  <div class="field">
    <%= f.label :leftYear %>
    <%= f.number_field :left_year %>
  </div>

  <div> | Concerts: </div>

  <div class="field"> 
   <% for concert in Concert.all.order(:concert_year) %>
     <% if (true)%>
       <%= check_box_tag "singer[concert_ids][]", concert.id, @singer.concerts.include?(concert) %>
       <%= concert.concert_year.to_s + '-' + concert.name[0..20] %>
     <% end %>
   <%end%>
  </div>
<p></p>

  <div> | Soloist In:  </div>
  <div class="field">
   <% for song in Song.all.order(:name) %>
     <% if (true)%>
       <%= check_box_tag "singer[song_ids][]", song.id, @singer.songs.include?(song) %>
       <%= song.name %>
     <% end %>
     |
   <%end%>
<p></p>

  <div class="actions">
    <%= f.submit 'Save Singer', :class => 'btn btn-success btn-sm active' %>
  </div>
<% end %>
<p></p>