<%= form_for(singer) do |f| %>
  <% if singer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(singer.errors.count, "error") %> prohibited this singer from being saved:</h2>

      <ul>
      <% singer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %>:
    <%= f.text_field :last_name %>
    -:-
    <%= f.label :first_name %>:
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :email %>:
    <%= f.text_field :email %>
    -:-
    <%= f.label :voice %>:
    <%= f.text_field :voice %>
  </div>

  <div class="field">
    <%= f.label :joinYear %>:
    <%= f.number_field :join_year %>
    -:-
    <%= f.label :leftYear %>:
    <%= f.number_field :join_year %>
  </div>

  <div class="field">
    <%= f.label :notes %>:
    <%= f.text_area :notes %>
  </div>

  <div class = "field">
    <%= f.label :image, "Photo1", :style => "inline" %>: <small><i>(Note: Maximum photo size is 2 megabytes)</i></small>
    <%= f.file_field :image %> 
  </div>
  <% if @singer.image_data? %>
    <div class = "field">
      <% if !@singer.image[:thumb].nil? %>
        <%= image_tag @singer.image_url(:thumb) %>
      <% end %>
      <%= f.label :photo1_caption, "Photo1 Caption:" %>
      <%= f.text_field :photo1_caption, :size => 40 %>
    </div>
    <div class = "field">
      Remove attachment: <%= f.check_box :remove_image %>
    </div>
  <% end %>

  <div class = "field">
    <%= f.label :photo, "Photo2", :style => "inline" %>: <small><i>(Note: Maximum photo size is 2 megabytes)</i></small>
    <%= f.file_field :photo %>
  </div>
  <% if @singer.photo_data? %>
    <div class = "field">
      <% if !@singer.photo[:thumb].nil? %>
        <%= image_tag @singer.photo_url(:thumb) %>
      <% end %>
        <%= f.label :photo2_caption, "Photo2 Caption:" %>
        <%= f.text_field :photo2_caption, :size => 40 %>
    </div>
    <div class = "field">
      Remove attachment: <%= f.check_box :remove_photo %>
    </div>
  <% end %>

<div><strong> Concerts Appeared In: </strong></div>

  <div class="field"> 
   <% for concert in Concert.all.order(:concert_year) %>
     <% if (true)%>
       <%= check_box_tag "singer[concert_ids][]", concert.id, @singer.concerts.include?(concert) %>
       <%= concert.concert_year.to_s + '-' + concert.name[0..20] %>
     <% end %>
   <%end%>
  </div>
<p></p>

  <div><strong> Soloist In:  </strong></div>
  <div class="field">
   <% for song in Song.all.order(:name) %>
     <% if (true)%>
       <%= check_box_tag "singer[song_ids][]", song.id, @singer.songs.include?(song) %>
       <%= song.name %>
     <% end %>
     |
   <%end%>
<p></p>

  <div class="actions">
    <%= f.submit 'Save Singer', :class => 'btn btn-success btn-sm active' %>
  </div>
<% end %>
<p></p>