<p id="notice"><%= notice %></p>

<h3>Singers</h3>
<h5>Total Count: <%= Singer.count %></h5>

<% can = policy(Singer).create? %>

<%= search_form_for @q do |f| %>
    <%= f.submit "Search by:", :class => 'btn btn-info btn-sm active' %>  &nbsp &nbsp ->
    <%= f.label :last_name_cont, "Last Name:", :style => "display: inline-block" %>
    <%= f.search_field :last_name_cont, :id => "searchfpn" %>
    <%= f.label :voice_cont, "Voice:", :style => "display: inline-block" %>
    <%= f.search_field :voice_cont, :id => "searchfpn" %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    <% if can %><%= link_to 'New Singer', new_singer_path, :class => 'btn btn-success btn-sm active margin-left: 35px;' %><% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link "last_name", "Last Name" %></th>
      <th><%= sort_link "first_name", "First Name" %></th>
      <% if policy(Singer).update?  || current_user.member? %>
        <th><%= sort_link "email" %></th>
      <% end %>
      <th><%= sort_link "voice" %></th>
      <th>Joined</th>
      <th>Left</th>
      <th><%= link_to 'Concerts', concerts_path %></th>
      <th><%= link_to 'Solos', songs_path %></th>
 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @singers.each do |singer| %>
      <tr>
        <td><%= link_to "#{singer.last_name}", singer %></td>
        <td><%= singer.first_name %></td>
        <% if policy(singer).update? || current_user.member? %>
          <td><%= singer.email %></td>
        <% end %>  
        <td><%= singer.voice %></td>
        <td><%= singer.join_year %></td>
        <td><%= singer.left_year %></td>
        <td><%= singer.concerts.count %></td>
        <td><%= singer.songs.count %></td>
        <% if false %><td><%= link_to 'Show', singer %></td><% end %>
        <% if policy(singer).update? %>
          <td><%= link_to 'Edit', edit_singer_path(singer), :class => 'btn btn-success btn-sm active' %></td>
          <td><%= link_to 'Destroy', singer, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm active' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can %><%= link_to 'New Singer', new_singer_path, :class => 'btn btn-success btn-sm active' %><% end %>
<% if false %>
<%= link_to 'Concerts', concerts_path %>
<%= link_to 'Songs', songs_path %>
<% end %>