<h2>Singer</h2>

<p>
  <strong>Last Name:</strong>
  <%= @singer.last_name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @singer.first_name %>
</p>

<% if policy(Singer).update? %>
  <p>
    <strong>Email:</strong>
    <%= @singer.email %>
  </p>
<% end %>

<p>
  <strong>Voice:</strong>
  <%= @singer.voice %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @singer.join_year %>
</p>

<p>
  <strong>Left:</strong>
  <%= @singer.left_year %>
</p>

<p>
  <strong>Concerts:</strong>
  <% @singer.concerts.each do |t| %>
    <td><%= t.concert_year%></td>
    - 
  <% end %>
</p>

<p>
  <strong>Soloist In:</strong>
  <% @singer.songs.each do |t| %>
    <td><%= t.name%></td>
    - 
  <% end %>
</p>

<%= link_to 'Back', singers_path, :class => 'btn btn-primary btn-sm active' %>     |   

<% if policy(Singer).update? %>
  <%= link_to 'Edit', edit_singer_path(@singer), :class => 'btn btn-warning btn-sm active' %> |
<% end %>

<% if policy(Singer).create? %>
  <%= link_to 'New Singer', new_singer_path, :class => 'btn btn-success btn-sm active' %>
<% end %>