<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @singer.lastName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @singer.firstName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @singer.email %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @singer.voice %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @singer.join_year %>
</p>

<p>
  <strong>Left:</strong>
  <%= @singer.left_year %>
</p>

<p>
  <strong>Concerts:</strong>
  <% @singer.concerts.each do |t| %>
    <td><%= t.concert_year%></td>
    - 
  <% end %>
</p>

<p>
  <strong>Soloist In:</strong>
  <% @singer.songs.each do |t| %>
    <td><%= t.name%></td>
    - 
  <% end %>
</p>

<%= link_to 'Edit', edit_singer_path(@singer) %> |
<%= link_to 'Back', singers_path %>     |   

<%= link_to 'Add New Singer', new_singer_path %>