<h2>Singer</h2>

<p>
  <strong>Name:</strong>
  <%= @singer.first_name %>
  <%= @singer.last_name %>
</p>

<% if policy(Singer).update? %>
  <p>
    <strong>Email:</strong>
    <%= @singer.email %>
  </p>
<% end %>

<p>
  <strong>Voice:</strong>
  <%= @singer.voice %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @singer.join_year %>
  -:- 
  <strong>Left:</strong>
  <%= @singer.left_year %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @singer.notes %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @singer.image_data? %>
    <%= image_tag @singer.image_url(:small) %> 
  </p><p>
    <%= link_to 'Click here for original (full size) photo', @singer.image_url(:original) %>
  <% end %>
</p>

<p>
  <strong>Photo2:</strong>
  <% if @singer.photo_data? %>
    <%= image_tag @singer.photo_url(:thumb) %> 
  </p><p>
    <%= link_to 'Click here for original (full size) photo', @singer.photo_url(:original) %>
  <% end %>
</p>

<p>
  <strong>Concerts:</strong><br />
  <% @singer.concerts.order(:concert_year).in_groups_of(8,false) do |concrts| %>
    <% for concert in concrts %>
      <td><%= concert.concert_year.to_s + '-' + concert.name[0..20] %></td>
      -:- 
    <% end %>
    <br />
  <% end %>
</p>

<p>
  <strong>Soloist In:</strong>
  <% @singer.songs.order(:name).each do |t| %>
    <td><%= t.name%></td>
    -:- 
  <% end %>
</p>

<%= link_to 'Back', singers_path, :class => 'btn btn-primary btn-sm active' %>     |   

<% if policy(Singer).update? || ( user_signed_in? && current_user.email == @singer.email ) %>
  <%=  puts "singer email #{@singer[:email]} user emails #{current_user.email}" %>
  <%= link_to 'Edit', edit_singer_path(@singer), :class => 'btn btn-warning btn-sm active' %> |
<% end %>

<% if policy(Singer).create? %>
  <%= link_to 'New Singer', new_singer_path, :class => 'btn btn-success btn-sm active' %>
<% end %>