<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <div class="field">
    <%= f.label :composer %>
    <%= f.text_field :composer %>
  </div>

  <div class="field">
    <%= f.label :lyricist %>
    <%= f.text_field :lyricist %>
  </div>

  <div class="field">
    <%= f.label :arranger %>
    <%= f.text_field :arranger %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :Type %>
    <%= f.text_field :song_type %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

<div> | Soloists:  </div>

  <div class="field">
   <% for singer in Singer.all.order(:last_name) %>
     <% if (true)%>
       <%= check_box_tag "song[singer_ids][]", singer.id, @song.singers.include?(singer) %>
       <%= singer.first_name[0] + " " + singer.last_name %>
     <% end %>
     |
   <%end%>
<p></p>

 <div class="field">
   <% for concert in Concert.all.order(:concert_year) %>
     <% if (true)%>
       <%= check_box_tag "song[concert_ids][]", concert.id, @song.concerts.include?(concert) %>
       <%= concert.concert_year.to_s + '-' + concert.name[0.20] %>
     <% end %>
     |
   <%end%>
<p></p>

  <div class="actions">
    <%= f.submit 'Save Song', :class => 'btn btn-success btn-sm active' %>
  </div>

<% end %>
<p></p>