<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <div class="field">
    <%= f.label :composer %>
    <%= f.text_field :composer %>
  </div>

  <div class="field">
    <%= f.label :lyricist %>
    <%= f.text_field :lyricist %>
  </div>

  <div class="field">
    <%= f.label :arranger %>
    <%= f.text_field :arranger %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :Type %>
    <%= f.text_field :song_type %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div><strong>Concerts: </strong></div>

 <div class="field">
   <% for concert in Concert.all.order(:concert_year) %>
     <% if (true)%>
       <%= check_box_tag "song[concert_ids][]", concert.id, @song.concerts.include?(concert) %>
       <%= concert.concert_year.to_s + '-' + concert.name[0..20] %>
     <% end %>
     |
   <%end%>
  </div>

  <div class="field">
    <% @count = 0 %>
    <% so = [0,0,0,0,0] %>
    <% for concert in Concert.all %>  
      <% if !concert.songs.find_by_name(song.name).nil? %>
        <% so[@count] = Program.find_by_concert_id_and_song_id(concert.id,song.id).song_order
            if (so[@count].nil?)
              song.s_o = 0
            elsif (@count == 0)    #crappy code because I don't fully understand using input hash arrays
              @c_o = concert.id
              song.s_o = so[@count]
            elsif (@count == 1)
              @c_o1 = concert.id
              song.s_o1 = so[@count]
            elsif (@count == 2)
              @c_o2 = concert.id
              song.s_o2 = so[@count]
            elsif (@count == 3)
              @c_o3 = concert.id
              song.s_o3 = so[@count]
            end %>
        <strong><%= concert.concert_year %></strong>
        <%= f.label( " Song Order: " ) %>
          <% if @count == 0 %>
            <%= f.number_field :s_o, in: 0..30, size: 3 %>
          <% elsif @count == 1 %>
            <%= f.number_field :s_o1, in: 0..30, size: 3 %>
          <% end %>
        <% puts "got here - #{@count} - #{so[@count]} - #{@c_o} - #{@c_o1} > #{concert.id}" %>  
        <% @count += 1 %>
      <% end %>
    <% end %>
  </div>

  <p></p>

  <div><strong> Soloists:  </strong></div>

  <div class="field">
   <% for singer in Singer.all.order(:last_name) %>
     <% if (true)%>
       <%= check_box_tag "song[singer_ids][]", singer.id, @song.singers.include?(singer) %>  
       <%= singer.first_name[0] + " " + singer.last_name %>
     <% end %>
     |
   <%end%>
<p></p>

   <div class="actions">
    <%= f.submit 'Save Song', :class => 'btn btn-success btn-sm active' %>
  </div>

<% end %>
<p></p>