<h3> Songs </h3>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @song.source %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @song.composer %>
</p>

<p>
  <strong>Lyricist:</strong>
  <%= @song.lyricist %>
</p>

<p>
  <strong>Arranger:</strong>
  <%= @song.arranger %>
</p>

<strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>Type:</strong>
  <%= @song.song_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @song.notes %>
</p>

<p>
  <strong>In Concerts:</strong>
  <% @song.concerts.each do |t| %>
    <td><%= t.concert_year%></td>
    - 
  <% end %>
</p>

<p>
<% for concert in Concert.all %>
      <% if !concert.songs.find_by_name(@song.name).nil? %>
        <% cy = concert.concert_year %>
        <strong>Song Order 
        <%= "#{cy}" %>: </strong>
        
        <%= Program.find_by_song_id_and_concert_id(concert.songs.find_by_name(@song.name).id,@song.concerts.find_by_name(concert.name).id).song_order %>

      <% end %>
    <% end %>
</p>

<p>
  <strong>Soloists:</strong>
  <% @song.singers.sort %>
  <% @song.singers.each do |t| %>
    <td><%= t.first_name[0]+" "+t.last_name%></td>
    - 
  <% end %>
</p>

<%= link_to 'Back', songs_path, :class => 'btn btn-primary btn-sm active' %>     |   

<% if policy(Song).update? %>
  <%= link_to 'Edit', edit_song_path(@song), :class => 'btn btn-warning btn-sm active' %> |
<% end %>

<% if policy(Song).create? %>
  <%= link_to 'New Song', new_song_path, :class => 'btn btn-success btn-sm active' %>
<% end %>

<% if false %>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %> |
<%= link_to 'Add New Song', new_song_path %>
<% end %>