<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @song.source %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @song.composer %>
</p>

<p>
  <strong>Lyricist:</strong>
  <%= @song.lyricist %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>Type:</strong>
  <%= @song.songType %>
</p>

<p>
  <strong>In Concerts:</strong>
  <% @song.concerts.each do |t| %>
    <td><%= t.concert_year%></td>
    - 
  <% end %>
</p>

<p>
  <strong>Soloists:</strong>
  <% @song.singers.each do |t| %>
    <td><%= t.lastName%></td>
    - 
  <% end %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %> |
<%= link_to 'Add New Song', new_song_path %>