<h3> Concert </h3>

<p>
  <strong>Year:</strong>
  <%= @concert.concert_year %>
</p>

<p>
  <strong>Name:</strong>
  <%= @concert.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue %>
</p>

<p>
  <strong>Concertdate:</strong>
  <%= @concert.concertdate %>
</p>

<p>
  <strong>Conductor:</strong>
  <%= @concert.conductor %>
</p>

<p>
  <strong>Accompanist:</strong>
  <%= @concert.accompanist %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @concert.theme %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @concert.notes %>
</p>

<p>
  <strong>Singers:</strong>
    <% @concert.singers.sort_by{|singer| (singer.last_name)}.each do |t| %>
      <td><%= t.first_name[0]+" "+t.last_name%></td>
      -:- 
 
      <% end %>
</p>

<p>
  <strong>Songs:</strong>
    <%# @concert.songs.sort_by{|song| (song.name)}.each do |t| %>
    <% @concert.songs.sort_by{|song| (Program.find_by_song_id(song.id).song_order)}.each do |t| %>
    <td><%= t.name%></td>
    -:- 
  <% end %>
</p>

<%= link_to 'Back', concerts_path, :class => 'btn btn-primary btn-sm active' %>     |   

<% if policy(Concert).update? %>
  <%= link_to 'Edit', edit_concert_path(@concert), :class => 'btn btn-warning btn-sm active' %> |
<% end %>

<% if policy(Concert).create? %>
  <%= link_to 'New Concert', new_concert_path, :class => 'btn btn-success btn-sm active' %>
<% end %>

<% if false %>
<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
<% end %>
