<h3> Concert </h3>

<p>
  <strong>Year:</strong>
  <%= @concert.concert_year %>
</p>

<p>
  <strong>Name:</strong>
  <%= @concert.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue %>
</p>

<p>
  <strong>Concertdate:</strong>
  <%= @concert.concertdate %>
</p>

<p>
  <strong>Conductor:</strong>
  <%= @concert.conductor %>
</p>

<p>
  <strong>Accompanist:</strong>
  <%= @concert.accompanist %>
</p>

<p>
  <strong>Narrators:</strong>
  <%= @concert.narrators %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @concert.theme %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @concert.notes %>
</p>

<p>
  <strong>Singers:</strong>
    <% @concert.singers.sort_by{|singer| (singer.last_name)}.each do |t| %>
      <td><%= link_to t.first_name[0]+" "+t.last_name, singer_path(t.id) %></td>
      -:- 
 
      <% end %>
</p>

<p>
  <strong>Songs Sorted by </strong>

      <% Program.where(concert_id: [@concert.id]).each do |so| %>
        <% if so.song_order.nil? 
            @song_sort = false 
          end %>
      <% end %>

      <% if !@song_sort %>
          <strong> Name: </strong>          
          <% @concert.songs.sort_by{|song| (song.name)}.each do |t| %>
          <td><%= link_to t.name, song_path(t.id) %></td>
          -:- 
      <% end %>
      <% else %>
        <strong> Program Order: </strong><br />
        <% @concert.songs.sort_by{|song| (Program.find_by_song_id(song.id).song_order) || 1}.in_groups_of(10,false).each do |t_array| %>
          <% t_array.each do |t| %>
            <td><%= link_to t.name[0..20].ljust(20,' '), song_path(t.id) %></td>
            -:- 
          <% end %>
        <br />
        <% end %>
    <% end %>
</p>

<%= link_to 'Back', concerts_path, :class => 'btn btn-primary btn-sm active' %>     |   

<% if policy(Concert).update? %>
  <%= link_to 'Edit', edit_concert_path(@concert), :class => 'btn btn-warning btn-sm active' %> |
<% end %>

<% if policy(Concert).create? %>
  <%= link_to 'New Concert', new_concert_path, :class => 'btn btn-success btn-sm active' %> |
<% end %>

<% if policy(Singer).create? %>
  <%= link_to 'New Singer', new_singer_path, :class => 'btn btn-success btn-sm active' %> |
<% end %>

<% if policy(Song).create? %>
  <%= link_to 'New Song', new_song_path, :class => 'btn btn-success btn-sm active' %> |
<% end %>

<% if false %>
<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
<% end %>
