<p id="notice"><%= notice %></p>

<h3>Pictures</h3>
<h5>Total Count: <%= Picture.count %></h5>

<% can = policy(Picture).create? %>

<%= search_form_for @q do |f| %>
    <%= f.submit "Search by:", :class => 'btn btn-info btn-sm active' %> &nbsp &nbsp ->
    <%= f.label :caption_cont, "Caption:", :style => "display: inline-block" %>
    <%= f.search_field :caption_cont, :id => "searchfpn" %>
     <%= f.label :notes_cont, "Notes:", :style => "display: inline-block" %>
    <%= f.search_field :notes_cont, :id => "searchfpn" %>
   <% if can %>
      <%= link_to 'New Picture', new_picture_path, :class => 'btn btn-success btn-sm active' %>
    <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%="Picture" %></th>
      <th><%= sort_link "caption" %></th>
      <th><%= sort_link "picture_date" %></th>
      <th><%= sort_link "submitted_by" %></th>      
      <th><%= "Notes" %></th>
      <th><%= "Orig. Name" %></th>
      <th><%= "Size" %></th>
      <th><%= "Height" %></th>
      <th><%= "Width" %></th>
      <% if policy(Picture).update? %>
        <th>ID</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    
    <% @pictures.each do |picture| %>
      <tr>
        <td>
          <% if picture.picture_data %>
            <% if !picture.picture[:thumb].nil? %>
              <%= image_tag picture.picture_url(:thumb) %> 
            <% end %>
            </td>
            <td><%= link_to "#{picture.caption[0..20]}", picture %></td>
            <td><%= picture.picture_date %></td>
            <td><%= picture.submitted_by %></td>
            <td><%= picture.notes[0..15] %></td>
            <% if !picture.picture[:original].nil? %>
              <td><%= picture.picture[:original].original_filename %></td>
              <td><%= number_with_delimiter(picture.picture[:original].size) %> kb</td> 
              <td><%= picture.picture[:original].height %></td>
              <td><%= picture.picture[:original].width %></td>
            <% end %>
          <% end %>
          <% if false %><td><%= link_to 'Show', song %></td><% end %>
          <% if policy(picture).update? %>
            <% if picture.picture_data && !picture.picture[:thumb].nil? %>
              <td><%= picture.picture[:original].id %></td>
            <% end %>
          <td><%= link_to 'Edit', edit_picture_path(picture), :class => 'btn btn-success btn-sm active' %></td>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm active' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can %>
  <%= link_to 'New Picture', new_picture_path, :class => 'btn btn-success btn-sm active' %>
<% end %>

<% if false %>
<%= link_to 'Concerts', concerts_path %>
<%= link_to 'Singers', singers_path %>
<% end %>