# app/views/layouts/navigation/_header.erb
<header class="main-header">
  <a class="logo" href="/">
    Cantemus
  </a><nav class="navbar navbar-static-top" role="navigation">
  <a class="navbar-brand" rel="home" href="#" title="Cantemus Choral Group 2015">
      <img style="max-width:170px; margin-top: -7px; width: 60%"
             src='https://s3.amazonaws.com/cantemuswrestore/CantemusNR2015icon.png'/>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <% if user_signed_in? %>
              <img alt="User Image" class="user-image" src="https://s3.amazonaws.com/cantemuswrestore/Stafficon.PNG" >
              <span class="hidden-xs"><%= current_user.name %></span>
            <% else %>
              <%= "guest user" %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img class="img-circle" alt="User Image" src="https://s3.amazonaws.com/cantemuswrestore/CantemusNR2015icon.png"> </img>
              <p>
                <% if user_signed_in? %>
                  <%= current_user.name %>
                <% else %>
                  Guest User
                <small>Member since Dec. 1993</small>
                <% end %>
              </p>
            </li>
            <% if user_signed_in? %> 
              <% u = User.find_by_id(current_user.id) %>
                <% if u.member %>
                  <% s = Singer.find_by_email(u.email) %>
                  <li class="user-body">
                    <div class="col-xs-4 text-left">
                      <small> <%= s.voice %></small>
                    </div>
                    <div class="col-xs-4 text-center">
                      <small> <%= s.concerts.count %> Concerts </small>
                    </div>
                    <div class="col-xs-4 text-center">
                      <small> <%= s.songs.count %> Solos </small>
                    </div>
                  <% end %>
              <% end %>
            </li>
            <li class="user-footer">
              <% if user_signed_in? %>            
                <div class="pull-left">
                  <a href="#"><%= link_to 'Profile', edit_user_registration_path, :class => "btn btn-default btn-flat" %></a>
                </div>
                <div class="pull-right">
                  <a href="#"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, :class => "btn btn-default btn-flat" %></a>
                </div>
              <% else %>
               <div class="pull-left">
                  <a href="#"><%= link_to 'Register', new_user_registration_path, :class => "btn btn-default btn-flat" %></a>
                </div>
                <div class="pull-right">
                  <a href="#"><%= link_to 'Sign In', new_user_session_path, :class => "btn btn-default btn-flat" %></a>
                </div>
              <% end %>
              
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>