# app/views/layouts/navigation/_sidebar.erb
<div class="main-sidebar">
  <div class="sidebar" >
    <div class="pull-left image">
       <img alt="User Image" class="user-image" src="https://s3.amazonaws.com/cantemuswrestore/CantemusNR2015icon.png" style= "width: 140%">
     </div>

    <div class="user-panel">

    </div>
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text" >
        <span class="input-group-btn">
        <button class="btn btn-flat" disabled id="search-btn" name="search" type="submit">
        <i class="fa fa-search">
        </i></button></span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li class="sidebar-text">
        
       </li>
      <li class="active">
        <a href="#">
        <span><%= link_to 'Concerts', concerts_path, :style=> 'color: blue; font-weight: bold' %></span>
        </a>
      </li>
      <li>
        <a href="#">
        <span><%= link_to 'Singers', singers_path %></span>
        </a>
      </li>
      <li>
        <a href="#">
        <span><%= link_to 'Songs', songs_path %></span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <span>User Items</span>
          <i class="fa fa-angle-left pull-right">
          </i></a>
        <ul class="treeview-menu">
          <% if user_signed_in? %>
            <li>
              <a href="#"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete  %></a>
            </li>
            <li>
              <a href="#"><%= link_to 'Profile', edit_user_registration_path %></a>
            </li>
            <li>
              <%# sign_out :current_user %>
              <a href="#"><%= link_to 'New Sign In', new_user_session_path %></a>
            </li>
          <% else %>
          <li>
            <a href="#"><%= link_to 'Sign In', new_user_session_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to 'New User Signup', new_user_registration_path %></a>
          </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>